@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}
header {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px;
}
.menu {
    display: flex;
    align-items: center;
}
.menu a {
    margin-right: 10px;
    text-decoration: none;
    color: #af9191;
    font-size: 16px;
}
/* estilos del main */
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 35px; */
    margin-top: 100px;
    margin-bottom: 100px;
    
}
main section {
    border-radius: 5px;
    margin: 5px;
    width: 490px;
    height: 350px; 
    background-color: #fff;
}
.seccion-izquierda {
    background-image: url('../img/delivery.jpg');
    background-repeat: no-repeat;
    color: #FC200C;
    padding: 20px;
    font-size:16px;
}
.seccion-izquierda span {
    color:#fff;
}
/* seccion 2 */
.menu-pizza {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu-pizza h2 {
    width: 100%;
    text-align: center;
    margin-top: 26px;
    font-size: 24px;
    color: #FC200C;
    font-weight: bold;
}
.menu-pizza article h3 {
    display: flex;
    align-content: flex-start;
}
.menu-pizza article ol {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;
}
.menu-pizza article ol li {
    margin: 8px 0;
}
.menu-pizza article img {
    margin-top: 30px;
}

/* estilos del footer */
footer {
    background-color: #222222;
    display: flex;
    padding: 0 42px 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
}
footer img {
    width: 212px;
    height: 80px;
}

footer a {
    display: block;
    margin-bottom: 12px;
    list-style: none;
    color: #af9191;
    text-decoration: none;
}


